{% extends "layout.html" %}
<title>Ylläpitäjän työkalut</title>

{% block content %}

<h2>Ylläpitäjän työkalut ovat täällä!</h2>
<div class="navigointipalkki">
<ul>
	<li> <a href="/">Alku </a>   </li>
	<li> <a href="/owndata">Omat viestiketjut </a>   </li>
	{% if session.user_role == 1 %}
	<li> <a href="/admin">Ylläpitäjä </a>   </li>
	{% endif %}
	<li> <a href="/logout">Kirjaudu ulos </a>   </li>
</ul>
</div>

<b><span style="color:black">Luo uusi alue:</span></b>
<br>

<form action="/create_area" method="POST" onsubmit="return check(this)">
<b><span style="color:black"><p>Uusi alue:</span></b>
<textarea name="area_name" rows="1" cols="40"></textarea>
<input type="submit" value="Luo alue">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<br>
<b><span style="color:black">Voit poistaa alueen tästä:</span></b>
<br>
<br>
<form action="/delete_area" method="POST">
<b><span style="color:black">Poista alue:</span></b>
<select name="area_name"><br>
{% for area in areas %}
<option value="{{ area[1] }}"> {{ area[1] }}
{% endfor %}
</select>
<input type="submit" value="Poista alue">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<br>

<b><span style="color:black">Voit luoda myös salaisen alueen valituille käyttäjille!</span></b>
<br>

<form action="/create_private_area" method="POST" onsubmit="return check(this)">
<b><span style="color:black"><p>Uusi alue:</span></b>
<textarea name="area_name" rows="1" cols="40"></textarea>

<br>
<br>
<b><span style="color:black"><p>Valitse käyttäjät:</span></b> <br><br>
{% for user in users %}
<input type="checkbox" name="users" value="{{ user[0] }}"> {{ user[0] }} 
{% endfor %}
<br>
<br>
<input type="submit" value="Luo salattu alue">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

<br>

<script>
function check(form) {
    if (form.area_name.value.length > 100) {
        alert("Alueen nimessä on liian monta merkkiä, maksimi on 100!");
        return false;
    }
    if (form.area_name.value.length < 1) {
        alert("Alueen nimessä pitää olla vähintään 1 merkki!");
        return false;
    }
    return true;
}
</script>

<a href="/">Palaa takaisin</a>

{% endblock %}

