{% extends "layout.html" %}
<title>Ketjun muokkaaminen</title>
{% block content %}

<h2>Ketju nimeltä: {{ name }}.</h2>

<div class="navigointipalkki">
<ul>
	<li> <a href="/">Alku </a>   </li>
	<li> <a href="/owndata">Omat viestiketjut </a>   </li>
	{% if session.user_role == 1 %}
	<li> <a href="/admin">Ylläpitäjä </a>   </li>
	{% endif %}
	<li> <a href="/logout">Kirjaudu ulos </a>   </li>
</ul>
</div>

<b><span style="color:black">Voit muuttaa ketjun nimeä alla:</span></b><br>
<form action="/rename_chain" method="POST" onsubmit="return check(this)">
<textarea name="new_name" rows="1" cols="40">
{{ name }}
</textarea>
<input type="text" value={{ id }} name="chain_id" style="opacity: 0;"></p>
<br>
<b><span style="color:black">Voit myös poistaa koko ketjun:</span></b><br>
<br>
<b><span style="color:black">Tuhoa ketju: <input type="checkbox" name="tuhoa" value="1"></span></b>
<input type='hidden' value='0' name="tuhoa">
<br>
<br>
<input type="submit" value="Päivitä muutokset">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

<script>
function check(form) {
    if (form.new_name.value.length > 100) {
        alert("Muokattu ketjun nimi ei saa olla liian pitkä, maksimi 100 merkkiä!");
        return false;
    }
    if (form.new_name.value.length < 1) {
        alert("Muokattu ketjun nimi ei saa olla tyhjä, kirjoita nimi uudelleen!");
        return false;
    }
    return true;
}
</script>

<a href="/owndata">Palaa takaisin</a>

{% endblock %}
