<title>Ravintolat Etu-Töölössä!</title>
<h1><span style="color:white">Ravintolat Etu-Töölössä!</span></h1>
<b><span style="font-size: 1.5em; color:white">Tervetuloa sovellukseen!</span></b>
<br><br><span style="font-size: 1.5em; color:white">Valitse kartalta ravintola johon haluat tutustua!</span></br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<style>
body {
  background-image: url('/static/kartta.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style> 

<br><br><br><br><br><br><br><br><span style="font-size: 1.25em; color:white">Olet kirjautunut nimellä {{ session.username }}</span></p>
<a href="/logout"><span style="font-size: 1.25em; color:white; text-decoration: underline;">Kirjaudu ulos</span></a>

 <img src="/static/loc.png" alt="Workplace" usemap="#workmap">

<map name="workmap">
  <area shape="rect" coords="1000,530,1060,500" alt="Computer" href="/">
</map> 